
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}


ul{
    list-style-type: none;
    padding: 0;
}

li{
    text-transform: capitalize;
    margin: 20px 0;
}



